{% extends 'AppBundle::layouts/base.html.twig' %}

{% block body %}
    <div class="container filled">
        <div class="row">
            <!-- TODO bootstrap message !-->
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
